<div class="mobile-navbar only-under-800px container text-center m-t-neg10px">
  <div class="m-t-neg200pc">
    <%= link_to "énigme n°1", enigme1_path, class:"custom-btn btn-black-t" %>
    <span>></span>
    <%= link_to "énigme n°2", enigme2_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 2}" %>
    <span>></span>
    <%= link_to "énigme n°3", enigme3_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 3}" %>
    <span>></span>
    <%= link_to "énigme n°4", enigme4_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 4}" %>
    <span>></span>
    <%= link_to "énigme n°5", enigme5_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 5}" %>
    <span>></span>
    <%= link_to "énigme n°6", enigme6_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 6}" %>
    <span>></span>
    <%= link_to "énigme n°7", enigme7_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 7}" %>
    <span>></span>
    <%= link_to "le mot de la fin", enigme8_path, class:"custom-btn btn-black-t #{"opacity-5" unless Answer.last && Answer.last.enigma + 1 >= 8}" %>
  </div>
  <div id="arrows"><i class="fas fa-arrow-down"></i></div>
</div>
